* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#loginbg{
  background: url("./assets/loginbg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* hr{
  align:center;
  width:50%;
  border:0;
  border-bottom:1px solid #ccc;
  margin:20px auto;
} */
